.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

#selfVideo {
  height: 225px;
  width: 300px;
  float: left;
  border: 1px solid gray;
  margin-left: 10px;
}
