<div class="row">
  <div class="col-md-2">
    <button (click)="goBack()">Back</button>
  </div>
</div>
<div class="row">
  <div *ngIf="theStory" class="col-md-8">
    <h2>{{theStory.title}}</h2>
    <h4>{{theStory.storyTeller}}</h4>
    <span class="badge" *ngFor="let tag of theStory.tags; let i = index;">{{tag}}</span>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <video id="vid1" class="azuremediaplayer amp-default-skin" autoplay controls width="640" height="400">
      <p class="amp-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video
      </p>
    </video>
  </div>
</div>