<div class="row">
  <nav class="navbar navbar-default ">
    <div class="container">
      <a role="button" routerLink="/dashboard" class="btn btn-lg btn-primary">Dashboard</a>
      <a role="button" routerLink="/sharestory" class="btn btn-lg btn-info">Share your Story</a>
      <a role="button" routerLink="/findstory" class="btn btn-lg btn-success">Find a Story</a>
    </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="row">
  <nav class="navbar navbar-default">
    <div class="container">
      Privacy - Terms of Use - Other Things Like That
    </div>
  </nav>
</div>
