<div class="row">
    <div class="col-md-4">
      
      <div class="buttonItem">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">What is Story-in-a-Can?</h3>
          </div>
          <div class="panel-body">
            Our jobs are to find and share great stories of our partners success with Microsoft technology. In the old world, every story
            would have lots of time invested in it, making a case study, whitepapers, writeups, etc. This is wasteful, writing
            up stories that may never be used or read.<br /> SiaC is an easy way for you to record a short story,
            maybe about a really cool project, and share it with the team. If someone finds they could really use your story,
            then they will reach out to you to take the next steps. This saves everyone from work that may never be leveraged.
            Agile in action!
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="buttonItem">
        <top-stories>Loading Top Stories...</top-stories>
      </div>
    </div>
  </div>
